<suite name="example suite 1" >
  <test name="Regression suite 1" >
    <classes>
      <!-- <class name="com.ServicesAutomation.TestCases.TC001_LoginTestCases"/>  -->         
      <class name="com.ServicesAutomation.executionFiles.LoginExecution"/> 
	</classes>
 </test>
</suite>




<!-- Build the project, Then ECCLIPSE PROJECT CLEAN (not MAVEN CLEAN) then run this file -->